body {
    background-image: url('../images/cassino.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Comic Sans MS', cursive;
}

h1 {
    color: #ff9900;
}

#botoes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.726);
    padding: 20px;
    border: 4px solid #000; 
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);    
}

.botao {
    background-color: #ff9900;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border: 4px solid #ff6600;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.botao:hover {
    background-color: #ff6600;
    transform: scale(1.1);
}

.line {
    border-right: 2px solid rgba(0, 0, 0, 0.952);
    color: rgba(226, 98, 24, 0.75);
    font-family: "Special Elite", monospace;
    font-size: 3em;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
  }

  .typing-animation {
    animation: blinkCursor 500ms steps(40) infinite normal,
      typing 3s steps(40) 1s normal both;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 11em;
    }
  }

  @keyframes blinkCursor {
    from {
      border-right-color: rgba(0, 0, 0, 0.877)
    }
    to {
      border-right-color: transparent;
    }
  }